@import 'variables';
@import 'mixins';

:host {
  @include host-container;
}

.contact-list {
  position: relative;
  padding: 25px 0 74px;

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.empty-list {
  &__wrapper {
    padding: 96px 0 0;
  }

  &__message {
    padding-top: 144px;
    margin-bottom: 32px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../../../../assets/images/search.svg');
  }

  &__title {
    @include font-bold;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    color: $color-dark-grey;
  }

  &__subtitle {
    @include font-medium;
    margin: 0 auto;
    max-width: 300px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $color-text-secondary;
  }
}
