@import 'variables';

:host {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  &.texting {
    bottom: auto;
    .dot-flashing,
    .dot-flashing::before,
    .dot-flashing::after {
      background-color: $color-texting-dots;
      animation-name: dot-flashing-texting;
    }
  }
}

.dot-flashing {
  display: none;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $color-surface-light;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;

  &.show {
    display: block;
  }
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $color-surface-light;
  animation: dot-flashing 1s infinite alternate;
}

.dot-flashing::before {
  left: -15px;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: $color-surface-light;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

@keyframes dot-flashing-texting {
  0% {
    background-color: $color-grey;
  }
  50%,
  100% {
    background-color: $color-texting-dots;
  }
}
