@import 'variables';
@import 'mixins';

:host {
  display: block;
}

.select {
  border-radius: 8px;
  border: 1px solid $color-grey;

  &__label {
    position: relative;
    display: inline-block;
    width: 100%;
    color: $color-text-secondary;
    transition: all $transition-duration;

    &.filled::after,
    &:focus-within::after {
      top: 8px;
      font-size: $font-size-label;
      line-height: 12px;
    }

    &::after {
      @include font-regular;
      content: attr(data-placeholder);
      position: absolute;
      z-index: 1002;
      display: inline-block;
      top: 17px;
      left: 16px;
      max-width: calc(100% - 32px);
      font-size: $font-size-regular;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      pointer-events: none;
      transition: $transition-duration ease all;
    }

    &.disabled {
      color: $color-grey;
    }
  }
}

::ng-deep {
  & .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    position: relative;
    padding: 10px 5px 10px 20px;
    font-size: 14px;

    &-marked {
      background-color: $color-lightest-grey;
    }
  }

  & .ng-select {
    .ng-select-container {
      background-color: $color-white;
      border-radius: 8px;
    }

    .ng-clear-wrapper {
      background-color: $color-white;
    }

    &.ng-select-disabled {
      .ng-select-container {
        background-color: $input-disabled-halftone;
      }
    }

    .ng-arrow {
      position: relative;
      top: 14px;
      right: 0;
      width: 24px !important;
      height: 24px !important;
      border: none;
      background-color: $color-dark-grey;
      -webkit-mask: url('/assets/icons/chevron.svg') no-repeat;
      -webkit-mask-size: contain;
      mask: url('/assets/icons/chevron.svg') no-repeat;
      mask-size: contain;
      transition-duration: 0.5s;

      &-wrapper {
        width: 48px;
      }
    }

    &.ng-select-opened .ng-arrow {
      transform: rotateX(180deg);
      transition: transform 0.5s ease-in-out;
    }
  }

  & .ng-value-container {
    @include font-regular;
    height: 52px;
    padding: 24px 16px 8px;

    & .ng-input > input {
      color: $color-dark-grey;
      cursor: pointer !important;
      padding: 0 48px 0 16px !important;
      box-sizing: border-box !important;
    }
  }

  & .ng-has-value {
    .ng-placeholder {
      display: none;
    }
  }

  & .ng-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  & .ng-dropdown-panel {
    left: 0 !important;
    background-color: $color-white;
    border: 1px solid $color-grey;
  }

  & .ng-value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: $color-dark-grey;
    border-radius: 8px;
  }

  & .ng-clear-wrapper {
    position: absolute;
    top: 6px;
    right: 25px;
  }
}

.text-content {
  white-space: pre-wrap;
  word-break: break-word;
}

.ng-option {
  position: relative;
}
